
@{
    ViewBag.Title = "Reserve";
}

<h2 class="text-center">Prenotazione avvenuta con successo</h2>
<h3 class="text-center">Sarai contattato all'email che hai indicato non appena il prodotto sara disponibile in negozio</h3>

