
@{
    ViewBag.Title = "Logout";
}

    <div class="d-block text-center m-auto mt-5" style="width:500px">
        <h2>Logout Eseguito</h2>
        @Html.ActionLink("Home", "Index", "Home",null, new { @class="btn btn-default d-block"})
    </div>


