
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mt-5 mb-5">Area Amministrazione</h2>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="card">
            <div class="card-header">
                <h3>Gestisci Clienti</h3>
            </div>
            <div class="card-body">
                <p>Vedi lista Clienti, Gestisci, Vedi Statistiche</p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Vai", "Index", "Account", null, new { @class = "btn btn-sm btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="card">
            <div class="card-header">
                <h3>Gestisci Articoli</h3>
            </div>
            <div class="card-body">
                <p>Vedi gli articoli, Gestisci, Vedi Statistiche</p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Vai", "Index", "Product", null, new { @class = "btn btn-sm btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="card">
            <div class="card-header">
                <h3>Gestisci Prenotazioni</h3>
            </div>
            <div class="card-body">
                <p>Vedi le prenotazioni arrivate, aggiorna quelle che sono state evase</p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Vai", "Index", "Reservation", null, new { @class="btn btn-sm btn-primary"})
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="card">
            <div class="card-header">
                <h3>Importa Dati</h3>
            </div>
            <div class="card-body">
                <p>Importa massivamente Prodotti, Utenti etc</p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Vai", "Index", "File", null, new { @class = "btn btn-sm btn-primary" })
            </div>
        </div>
    </div>
</div>

